.Home {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.HomeLeft{
    width: 40%;
    margin: auto 50px;
    
}

.HomeRight {
    color: #0b3b60;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
}

.HomeRight div{
    margin:30px;
}

.HomeMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HomeMenu div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alignCenter{
    text-align: center;
}