@import url('../style/variables.css');

.Button{
    display: flex;
    flex-direction: column;
    --button-initial-padding: 0.5rem;
}

.Button button {
    border-radius: 2rem; 
    font-size: 1rem;
    padding: var(--button-initial-padding);
    border-style: none;
    transition-duration: 0.3s;
    background-color: var(--primary-color);
    color: white;
}


.Button button:hover{
    background-color: var(--primary-color-hover);
    cursor: pointer;
}